<div class="row">
    <div class="col-6">
        <app-dona titulo="Ventas"
        [data]="doughnutChartData"
        [type]="doughnutChartType">
    </app-dona>
    </div>
    <div class="col-6">

        <app-dona  [data]="doughnutChartData"
        [type]="doughnutChartType"
        titulo="Devoluciones">
    </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona 
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        titulo="Garantias">
    </app-dona>
    </div>
    <div class="col-6">
        <app-dona 
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        titulo="Compras"></app-dona>
    </div>
</div>